footer{
    
    position:fixed;
    bottom:0px;
    width:100%;
}

.Pad_top {
    padding-top: 25px;
  }

  header,
  main,
  footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {

    header,
    main,
    footer {
      padding-left: 0;
    }
  }
  